In [12]:
import pandas as pd

df = pd.read_csv("data.csv", delimiter=",")
df = df.dropna(subset=["age"])

for i in ["sex", "age_cat", "race"]:
    dfoh = pd.get_dummies(df[i], prefix=i)
    df = df.drop(i, axis = 1)
    df = df.join(dfoh)


X = df[["sex_Male", "sex_Female", "age_cat_Less than 25", "age_cat_25 - 45", "age_cat_Greater than 45", "race_Other", "race_African-American", "race_Caucasian", "race_Hispanic"]]

X

,sex_Male,sex_Female,age_cat_Less than 25,age_cat_25 - 45,age_cat_Greater than 45
0,1,0,0,0,1
1,1,0,0,1,0
2,1,0,1,0,0
3,1,0,1,0,0
4,1,0,0,1,0
...,...,...,...,...,...
7209,1,0,1,0,0
7210,1,0,1,0,0
7211,1,0,0,0,1
7212,0,1,0,1,0
7213,0,1,1,0,0